* {
    box-sizing: border-box;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --primary-color: #f80404;
    --secondary-color: #693c00;
    --tertiary-color: #afafaf;
    --background-color: #ffe9c2;
}

main {
    display: flex;
    justify-content: center;
}

.card {
    border: 3px solid var(--primary-color);
    padding: 10px;
    text-align: center;
    width: 75%;
    margin-top: 100px;
    background-color:var(--tertiary-color);
    border-radius:10px;
}

header {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    font-size: 34px;
}

#view-scores-link {
    color: var(--primary-color);
}

.heading-text {
    font-size: 60px;
    color: var(--primary-color);
    padding: 5px;
    background-color:var(--tertiary-color);
}

.question-text {
    font-size: 34px;
    color: var(--secondary-color);
    padding: 5px;
    background-color:var(--tertiary-color);
}

.btn {
    background-color:var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
    font-size: 28px;
    margin: 10px 5px;
    border: 2px solid whitesmoke;
}

#question-1 {
    display: none;
}

#question-2 {
    display: none;
}

#question-3 {
    display: none;
}

#question-4 {
    display: none;
}

#end-card {
    display: none;
}

#highscores-card {
    display: none;
}

#enter-score-container {
    background-color: var(--tertiary-color);
}

#enter-score-container span {
    background-color: var(--tertiary-color);
}

